
@{
    ViewBag.Title = "Política de Privacidade";
}
<section class="terms-privacy">
    <h2>Política de Privacidade*</h2>

    <p>A presente POLÍTICA DE PRIVACIDADE tem por objeto, ficcional e acadêmico, regular o tratamento conferido aos dados e informações fornecidos voluntariamente pelo USUÁRIO à EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES, ao se cadastrar para acesso a qualquer área restrita do CONDOSIMPLES, estabelecendo os direitos e obrigações relacionados à privacidade daquele que utiliza e acessa o CondoSimples e será doravante chamado USUÁRIO.</p>
    <p>Ao se cadastrar para acesso a qualquer área restrita do CONDOSIMPLES, e fornecer voluntariamente dados e informações pessoais, o USUÁRIO declara sua plena, integral, e irrestrita concordância com as condições previstas nesta política.</p>

    <h3>Informações coletadas</h3>
    <p>As informações fornecidas pelo USUÁRIO serão utilizadas para fornecer um serviço personalizado. Neste sentido, a EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES se compromete a adotar todas as medidas razoáveis para proteger a privacidade do USUÁRIO, e dos dados que este eventualmente fornecer à EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES, respeitando a natureza de uma rede social.</p>

    <h3>Informações compartilhadas por usuários</h3>
    <p>Ao fornecer dados e informações pessoais, no ato do seu cadastro no CONDOSIMPLES, para acesso a qualquer de suas áreas restritas, o USUÁRIO se declara ciente da abertura de cadastro em seu nome, servindo tal ciência de notificação prévia, sendo dispensável qualquer outra comunicação ao consumidor, como a prevista no parágrafo segundo, do artigo 43, do Código de Proteção e Defesa do Consumidor, ou no inciso I, do artigo 1º, da Portaria nº 5/02, da Secretaria de Direito Econômico.</p>
    <p>Ao fornecer dados e informações pessoais no ato do seu cadastro para acesso a qualquer área restrita do CONDOSIMPLES o USUÁRIO consente com a utilização dos dados e informações fornecidos para fins comerciais pela EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES.</p>

    <h3>Segurança das informações</h3>
    <p>Embora a EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES empregue seus melhores esforços para a proteção dos dados do USUÁRIO, mas considerando as características dos sistemas atuais, e o constante avanço das técnicas de invasão, a EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES não garante a segurança absoluta de seus sistemas, nem se responsabiliza por atos de terceiros que, eventualmente logrem êxito em coletar ou utilizar, por quaisquer meios, dados e informações disponibilizadas pelo USUÁRIO ao CONDOSIMPLES.</p>

    <h3>Comportamento</h3>
    <p>O USUÁRIO fica ciente que, sempre que fundado em indício de ato ilícito, e solicitadas, por qualquer interessado, informações sobre a propriedade de um registro do usuário no CONDOSIMPLES, será lícito à EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES fornecer os dados cadastrais do USUÁRIO, a seu exclusivo critério, sem que tal ato constitua qualquer violação de sigilo.</p>

    <h3>Links externos</h3>
    <p>Dentro do CONDOSIMPLES, é possível que o USUÁRIO encontre links e atalhos que o direcionarão para sites de terceiros. O USUÁRIO declara estar ciente que a EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES não tem controle ou ingerência sobre esses sites de terceiros, por não possuírem qualquer ligação com a EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES, que não tem conhecimento das políticas e regulamentos de privacidade destes sites, que podem ser constantemente alterados, inviabilizando sua verificação prévia pela EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES. Assim, constitui obrigação do USUÁRIO a verificação dos termos relativos à privacidade destes sites de terceiros, para os quais haja links e atalhos disponíveis no site do EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES, quando do acesso a eles.</p>
    <p>Nos termos desta cláusula, a EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES fica isenta de qualquer responsabilidade decorrente de violações da privacidade do USUÁRIO pelos sites que eventualmente possuam link a partir do CONDOSIMPLES.</p>

    <h3>Cookies</h3>
    <p>O USUÁRIO compreende e autoriza que a EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES utilize artifícios técnicos conhecidos como "cookies", ou semelhantes, para acessar informações sobre a conta do usuário a fim de oferecer um serviço melhor e mais personalizado.</p>
    <p>O USUÁRIO declara estar ciente que existe a possibilidade de configurar seu navegador para ser avisado, na tela do computador, sobre a recepção dos "cookies", e para impedir a sua instalação no disco rígido. As informações pertinentes à esta configuração estão disponíveis em instruções e manuais do próprio navegador.</p>
    <p>Para utilizar os serviços do CONDOSIMPLES não é necessário que o USUÁRIO permita a recepção de "cookies" enviados pelo CONDOSIMPLES, sem prejuízo de que, em tal caso, será necessário que o USUÁRIO se registre a cada vez que acessar uma área que requeira identificação prévia.</p>
    <p>Sempre que a opção que impeça a instalação dos "cookies" não tenha sido ativada, o USUÁRIO poderá pesquisar o disco rígido de seu computador, conforme as instruções do próprio navegador, e remover manualmente quaisquer “cookies”.</p>

    <h3>Alterações</h3>
    <p>Devido à rápida evolução das tecnologias na Internet, à EQUIPE DE DESENVOLVIMENTO DO CONDOSIMPLES reserva-se o direito de, a seu exclusivo critério, a qualquer tempo e sem aviso prévio, modificar ou alterar este contrato, razão pela qual se recomenda ao USUÁRIO, quando for utilizar os serviços do CONDOSIMPLES, que proceda à leitura das condições vigentes à época de seu acesso, vez que, a cada acesso, um novo contrato é celebrado pelo usuário. A utilização dos serviços do CONDOSIMPLES pelo USUÁRIO implicará na irrestrita aceitação das condições fixadas, incluindo as alterações que porventura venham a ser realizadas.</p>
    <br />
    <p>Este Regulamento será regido, interpretado e executado de acordo com as leis da República Federativa do Brasil, independentemente dos conflitos dessas leis com leis de outros estados ou países, sendo competente o Foro da Comarca de São Paulo, Estado de São Paulo, no Brasil, para dirimir qualquer dúvida decorrente deste instrumento.</p>
    <br />
    <br />
    <br />
    <br />
    <p><span>*</span>A política de privacidade aqui apresentada é para simples conferência acadêmica e foi baseada em documentos de outros softwares.</p>
</section>