@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueada";
}

<hgroup>
    <h1 class="text-danger">Bloqueada.</h1>
    <h2 class="text-danger">Essa conta foi bloqueada. Por favor, tente novamente mais tarde.</h2>
</hgroup>
