@model CondoSimples.Models.ScheduleModel

@{
    ViewBag.Title = "Details";
}

<h2>Reserva - Detalhes</h2>

<div>
    <h4>Reserva de área comum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateSchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSchedule)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
