@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address class="vcard">
    <span class="adr">Av. Francisco Pignatari, 650</span><br />
    <span class="region">Vila Gustavo Correia, Carapicuíba - SP</span><br />
    <span class="postal-code">CEP: 06310-390</span><br /> 
    <span class="tel"><abbr title="Telefone">Tel: (11)4184-8404</abbr></span>
    
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:condosimples@outlook.com.br">condosimples@outlook.com.br</a><br />
</address>