@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CondoSimples - @ViewBag.Condo</h1>
    <p class="lead">Solução em gestão da informação e espaços em condomínios prediais</p>
</div>