body {
    padding-top: 0;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 450px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.reset-col {
    padding-left: 0;
    padding-right: 0;
}
.board-post {
    width: 90%;
    border: 1px solid #033c73;
    padding: 5px;
    min-height: 60px;
}
.board-date {
    text-align: center;
}
.board-entry {
    margin-bottom: 15px;
    display: inline-block;
}
.functionalities .funcs {
    margin-bottom: 15px;
    line-height: 1.9;
    display: inline-block;
}
.functionalities .funcs strong {
    font-size: 18px;
}
.functionalities hr {
    border-top: 1px solid rgba(102, 103, 107, 0.45);
}
.funcs-thumb {
    height: 80px;
}
p.last-ones {
    margin: 50px 0;
}
.hello-user {
    color: #fff;
    padding: 15px 6px;
    font-size: 15px;
    cursor: default;
}
.full-width {
    width: 100%;
}
li.login-btn {
    display: inline-block;
}
.radio label,
.checkbox label {
  padding-left: 5px;
  vertical-align: sub;
}
.logo-image {
    height: 40px;
    float: left;
    display: inline-block;
    padding: 5px 6px 0 0;
}
.navbar {
    margin-bottom: 10px;
    border-radius: 0;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.terms-privacy, .home-about {
    text-align: justify;
}
.terms-privacy p {
    line-height: 1.9;
}
.standard-footer {
    border-top: 1px solid #022241;
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    min-height: 60px;
    color: #ddf4f1;
}
.standard-footer p {
    line-height: 2;
    padding-top: 15px;
    text-align: center;
}

@media(max-width: 767px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar.navbar-inverse .container {
        padding-left: 0;
        padding-right: 0;
    }
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
    }
    .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }
    .body-content {
        min-height: initial;
    }
}